/* Style général du corps */
body {
    background-color: black;
    color: aliceblue;
    transition: background-color 0.3s, color 0.3s;
    font-family: Arial, sans-serif;
}

/* Style du header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px 20px;
    border-radius: 18px;
    background: #000000;
}

.logo {
    height: 50px;
}

a {
    position: relative;
    color: aliceblue;
    margin: 20px;
    text-decoration: none;
    font-family: fantasy;
    font-size: 20px;
}

a:hover {
    color: blueviolet;
}

.sets {
    height: 30px;
    cursor: pointer;
}

/* Style du menu des paramètres */
.settings-menu {
    display: none; /* Cache le menu des paramètres par défaut */
    position: fixed;
    top: 60px; /* Ajuste selon l'espace requis */
    right: 20px;
    background: #333;
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
}

.settings-menu h2 {
    margin: 0;
    font-size: 18px;
}

.settings-menu button {
    display: block;
    background: #555;
    border: none;
    color: white;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
}

.settings-menu button:hover {
    background: #777;
}

/* Thème clair */
body.light-theme {
    background-color: white;
    color: black;
}

/* Thème sombre */
body.dark-theme {
    background-color: black;
    color: aliceblue;
}

/* Style des articles */
main {
    padding: 20px;
}

.post {
    background: #222;
    border-radius: 10px;
    margin: 20px 0;
    padding: 15px;
    color: white;
}

.post img {
    width: 100%;
    border-radius: 8px;
}

.post h2 {
    font-size: 24px;
    margin-top: 10px;
}

.post p {
    font-size: 16px;
    margin: 10px 0;
}

.listen-button {
    background: #555;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
}

.listen-button:hover {
    background: #777;
}

.title {
    text-decoration: underline;
    color: aliceblue;
    font-size: 40px;
    font-size: arial;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}