/* Style général du corps */
body {
    background-color: black;
    color: aliceblue;
    transition: background-color 0.3s, color 0.3s;
    font-family: Arial, sans-serif;
}

/* Style du header */
header {
    display: flex;
    justify-content: space-between; /* Aligne les éléments aux extrémités */
    align-items: center; /* Aligne les éléments verticalement */
    padding: 10px 20px;
    border-radius: 18px;
    background: #000000;
}

.logo {
    height: 50px;
}

/* Style des liens dans le header */
header a {
    color: aliceblue;
    margin: 0 10px; /* Ajuste les marges à gauche et à droite */
    text-decoration: none;
    font-family: fantasy;
    font-size: 20px;
    text-align: center; /* Centre le texte à l'intérieur du lien */
}

/* Effet au survol des liens */
header a:hover {
    color: blueviolet;
}

/* Styles pour le titre */
h1 {
    color: aliceblue;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; /* Centrer le titre */
    margin-bottom: 40px; /* Espacement sous le titre */
}

/* Styles pour le conteneur principal */
.top {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 80px;
}

/* Styles pour chaque élément .top-item */
.top-item {
    border-radius: 20px;
    position: relative; /* Pour positionner le titre à l'intérieur */
    background-size: cover; /* Couvre toute la zone de l'élément */
    background-position: center; /* Centre l'image de fond */
    height: 200px; /* Hauteur des éléments */
    display: flex; /* Pour centrer le texte à l'intérieur */
    align-items: center;
    justify-content: center;
    color: white; /* Couleur du texte */
    font-family: Arial, sans-serif;
    text-align: center; /* Centrer le texte à l'intérieur */
}

/* Styles pour le titre de chaque image */
.top-item::before {
    content: attr(data-title); /* Utilise l'attribut data-title pour le titre */
    position: absolute; /* Positionne le texte par rapport au conteneur */
    bottom: 10px; /* Espacement du bas */
    left: 50%; /* Centrer horizontalement */
    transform: translateX(-50%); /* Ajuster pour centrer */
    background-color: rgba(0, 0, 0, 0.6); /* Fond semi-transparent */
    padding: 5px 10px; /* Espacement du texte */
    border-radius: 5px; /* Coins arrondis */
}

/* Images de fond spécifiques pour chaque div */
.top-item-1 {
    background-image: url('https://charts-images.scdn.co/assets/locale_en/regional/daily/region_fr_default.jpg');
}

.top-item-2 {
    background-image: url('https://seeded-session-images.scdn.co/v2/img/540/r/artist/0LKAV3zJ8a8AIGnyc5OvfB/en');
}

.top-item-3 {
    background-image: url('https://www.radiofrance.fr/s3/cruiser-production-eu3/2024/02/171dd098-523d-418a-9b2f-d94ad5c5092d/200x200_sc_webradios-100mix-240212.webp');
}

.top-item-4 {
    background-image: url('https://www.radiofrance.fr/s3/cruiser-production/2023/03/f1c3edb8-aa25-4547-8383-d181f1d73f98/200x200_sc_rf_omm_0003200011_dnc.0134688910.webp');
}

.top-item-5 {
    background-image: url('https://www.radiofrance.fr/s3/cruiser-production-eu3/2024/05/3ec0ddbe-47fa-4971-9b69-5fae9e79a0f8/200x200_sc_rf_omm_0004031902_dnc.0144258355.webp');
}

.top-item-6 {
    background-image: url('https://www.thebackpackerz.com/wp-content/uploads/2017/05/damso-ipseite-chronique.jpg');
}

.top-item-7 {
    background-image: url('https://cdns-images.dzcdn.net/images/cover/28c6103dbdee5661cbee0b5869f62211/1900x1900-000000-80-0-0.jpg');
}

.top-item-8 {
    background-image: url('https://i.scdn.co/image/ab67616d00001e02c78042f41f8d188f63013123');
}

.top-item-9 {
    background-image: url('https://i.scdn.co/image/ab67616d0000b273699da7fe16923709d6adaf1d');
}

.top-item-10 {
    background-image: url('https://m.media-amazon.com/images/I/91zQWwuWZrL._UF350,350_QL50_.jpg');
}

.top-item-11 {
    background-image: url('Capture\ d\'écran\ 2024-02-25\ 101207.png');
}

.top-item-12 {
    background-image: url('https://pbs.twimg.com/media/FJyaHlaXMAE-9dS.jpg');
}

.top-item-13 {
    background-image: url('https://i.scdn.co/image/ab6761610000e5eb7807ff8b003a33822c40d28c');
}

.top-item-14 {
    background-image: url('https://i.scdn.co/image/ab67616d0000b273cb7db70068e16007c996e736');
}

.top-item-15 {
    background-image: url('Logomauvaisordre.png');
}

footer {
    text-align: center;
    font-family: fantasy;
}