body {
    background-color: black;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h1 {
    color: aliceblue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    margin-bottom: 40px;
}

input[type="email"],
input[type="text"],
input[type="password"] {
    width: 300px;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 25px;
    background-color: #2e2e2e;
    color: aliceblue;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

input[type="email"]::placeholder,
input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: #aaa;
}

input[type="email"]:focus,
input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
    background-color: #383838;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

input[type="email"]:hover,
input[type="text"]:hover,
input[type="password"]:hover {
    background-color: #383838;
}

.terms {
    margin: 20px 0;
    display: flex;
    align-items: center;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.terms input[type="checkbox"] {
    margin-right: 10px;
}

.terms a {
    color: aliceblue;
    text-decoration: underline;
}

button {
    width: 320px;
    padding: 15px;
    border: none;
    border-radius: 25px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #000000;
    color: white;
    transform: scale(1.05);
    border: 1px solid aliceblue;
}


